@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Bungee+Hairline&family=Raleway&family=Shrikhand&display=swap");

/*
font-family: 'Bebas Neue', cursive;
//font-family: 'Bungee Hairline', cursive;
//font-family: 'Roboto', sans-serif;
//purple: #732ebb
*/

/*Computer*/

/*General/Misc.*/
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

main {
  background-image: url("https://i.imgur.com/XQHtz4N.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.purple {
  color: #732ebb;
}

.arrow-1 {
  position: relative;
  bottom: 0;
  left: 0;
  margin-left: 20px;
}

.arrow-1:hover {
  top: 5px;
}

.arrow-2 {
  position: absolute;
  bottom: 20px;
  left: 0;
  margin-left: 20px;
}

.arrow-2:hover {
  bottom: 15px;
}

.down-arrow {
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.down-arrow-image {
  width: 50px;
  height: 50px;
}

.section-title {
  font-family: "Bungee Hairline", cursive;
}

/*Navigation*/
nav {
  position: sticky;
  top: 0;
  left: 0;
  font-size: 24px;
  min-height: 50px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 3px;
  z-index: 50000;
}

nav a {
  font-family: "Bebas Neue", cursive;
  font-size: 45px;
  color: white;
  text-decoration: none;
  margin: 0;
  padding: 8px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  float: right;
  margin: 10px 20px 0 0;
}

.nav-links li {
  display: inline-block;
  margin: 0px 10px;
}

.nav-links span {
  font-family: "Bungee Hairline", cursive;
  font-size: 28px;
  color: white;
}

.nav-links span:hover {
  border-bottom: 2px solid #732ebb;
}

.nav-links li a {
  color: #732ebb;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  text-decoration: none;
}

.nav-links li a:visited {
  color: #732ebb;
}

/*Landing*/
#landing {
  background-image: url("https://i.imgur.com/QY0QzIp.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 650px;
  margin-top: -60px;
}

.addspace {
  padding-top: 140px;
}

.intro {
  min-height: 440px;
}

.intro h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 150px;
  color: white;
  letter-spacing: 2px;
  width: 65%;
  margin: 0px 0px 0px 30px;
}

.intro h4 {
  margin: 20px 0 0 50px;
  font-family: "Bungee Hairline", cursive;
  font-size: 26px;
  color: white;
}

.intro-p {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 1px;
  width: 500px;
  margin: 8px 0 0px 50px;
  color: white;
  line-height: 28px;
}

/*About*/
#about {
  min-height: 650px;
  position: relative;
}

.about-div {
  background-color: transparent;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.inner-about-div {
  border: 2px solid #732ebb;
  margin: 30px;
  padding: 5px;
  position: relative;
  z-index: -1;
}

.inner-about-div h2 {
  font-size: 40px;
  position: absolute;
  top: -80px;
  left: 15px;
  background-color: transparent;
  font-family: "Bebas Neue", cursive;
  color: white;
  width: 250px;
}

.about-info {
  margin: 30px;
}

.about-info p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 22px;
  color: white;
}

.about-info .center {
  text-align: center;
}

.icons-div {
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.icons-div img {
  height: 40px;
  width: 40px;
  margin-top: -5px;
}

.resume-div,
.linkedin-div,
.github-div {
  display: flex;
  cursor: pointer;
  padding: 0 20px;
}

.resume-div a,
.linkedin-div a,
.github-div a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  font-family: "Bungee Hairline", cursive;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.resume-div a:hover,
.linkedin-div a:hover,
.github-div a:hover {
  border-bottom: 2px solid #732ebb;
}

.resume-div a:visited,
.linkedin-div a:visited,
.github-div a:visited {
  color: white;
}

.github-div img {
  width: 60px;
}

/* Projects */
#projects {
  min-height: 650px;
  position: relative;
  padding-top: 80px;
}
.projects-div {
  background-color: transparent;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.inner-projects-div {
  border: 2px solid #732ebb;
  margin: 30px;
  padding: 5px;
  position: relative;
  z-index: -1;
  display: flex;
  justify-content: space-evenly;
}

.inner-projects-div h2 {
  font-size: 40px;
  position: absolute;
  top: -80px;
  left: 15px;
  background-color: transparent;
  font-family: "Bebas Neue", cursive;
  color: white;
  width: 280px;
}

.project-thumbnail {
  border: 2px solid white;
  height: 450px;
  width: 250px;
  margin: 10px;
}

.thumbnail-overlay {
  position: relative;
  top: 0;
  left: 0;
  height: 450px;
  width: 250px;
  margin: 0;
  padding: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.project-thumbnail h4 {
  position: absolute;
  bottom: -50px;
  margin-left: 10px;
  z-index: 9999;
  color: white;
  opacity: 1;
  font-size: 60px;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
  width: 220px;
}
.cookbook {
  background-image: url("https://user-images.githubusercontent.com/52179940/88744305-f3ea6f80-d114-11ea-88a1-4e704b83fa32.png");
  background-size: cover;
  background-position: -20px;
}

.ijournal {
  background-image: url("https://i.imgur.com/DU8om7A.png");
  background-size: cover;
  background-position: -200px;
}

.drinkgenius {
  background-image: url("https://i.imgur.com/Ffs9xBk.png");
  background-size: cover;
}
